/* Default font size */
body {
    font-size: 16px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

/* Increase the size of radio buttons */
input[type="radio"] {
    transform: scale(1.5); /* Increase scale value to make them bigger */
    margin-right: 5px; /* Add some spacing between radio buttons */
}

.form-control {
    width: 100%;
    max-width: 880px; /* Adjust the maximum width as needed */
    height: 90px; /* Adjust the height as needed */
    padding: 20px; /* Adjust the padding as needed */
    font-size: 26px; /* Adjust the font size as needed */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    body {
        font-size: 38px;
    }

    input[type="checkbox"] {
        width: 25px;
        height: 25px;
    }

    .btn {
        font-size: 18px;
        padding: 12px 24px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        font-size: 30px;
    }
    input[type="checkbox"] {
        width: 30px;
        height: 30px;
    }
    .btn {
        font-size: 30px;
        padding: 14px 38px;
    }
    input[type="radio"] {
        transform: scale(3); /* Adjust scale for smaller screens */
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        font-size: 22px;
    }
    input[type="checkbox"] {
        width: 35px;
        height: 35px;
    }
    .btn {
        font-size: 22px;
        padding: 16px 32px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        font-size: 24px;
    }input[type="checkbox"] {
width: 40px;
height: 40px;
}
.btn {
font-size: 24px;
padding: 18px 36px;
}
}
